
body {
    background-color: #008000;
}

#appbody {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #aaaaaa;
    opacity: 1.0;
}

header {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.25em;
    background-color: #00ff00;
    opacity: 0.6;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

p {
    text-align: left;
    font-style: normal;
    font-size: 1.0em;
    font-family: sans-serif;
}
.subarea {
    position: absolute;
    /*width: 200px;
    height: 200px;*/
    opacity: 1.0;
    padding-left: 4px;
    padding-right: 4px;
    /*border: thin;*/
}
#mainOutputArea {
    width: 75%;
    height: 65%;
    left: 30px;
    top: 30px;
    background-color: white;
    opacity: 1.0;
}

#textInputArea {
    background-color: #ccffcc;
    left: 30px;
    bottom: 30px;
    right: 30px;
    height: 25%;
}

#otherOptionsArea {
    background-color: #ddddee;
    top: 30px;
    right: 30px;
    width: 15%;
    height: 65%;
}

#area4 {
    background-color: violet;
    right: 30px;
    bottom: 30px;
}

.story-title {
    font-style: italic;
    padding-left: 6px;
    font-size: 1.25em;
}

.story-origin {
    font-weight: bold;
}

.option-row {
    margin-top: 12px;
    position: fixed;
}

#option-row1 {
    top: 30px;
}

#option-row2 {
    top: 100px;
}

#option-row3 {
    top: 200px;
}

#option-row4 {
    top: 220px;
}
